version: "3"
services:
      express:
          build:
              context: .
              dockerfile: docker/Dockerfile
          environment:
              - DBWEBB_DSN=mongodb://mongodb:27017/
              - DBWEBB_PORT=3000
          links:
              - mongodb
          volumes:
              - ./:/app/
              - /app/node_modules/
          ports:
              - 3000:3000
          command: "npm start"
      mongodb:
          image: mongo
          # environment:
          #     - MONGO_DATA_DIR=/data/db
          # volumes:
          #     - ./data/db:/data/db
          ports:
              - 27017:27017
          command: mongod
