html {
    overflow-y:scroll;
    height: 100%;
}
body {
    padding-top:50px;
    margin: 0px;
    height: 100%;
    background-color: #333;
}

#todo-list {
    margin-bottom:30px;
    color: #fff;
}
#todo-form {
    margin-bottom:50px;
}

.jumbotron {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}








@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

div#chat {
    height: 100%;
    width: 59%;
    margin-left: 20%;
}

div#change_username, section#input_zone {

}

div#change_username {
    height: 100%;
    width: 100%;
    display: inline-block;
}

section#chatroom {
    box-shadow: 0 4px 8px 0 rgba(201, 117, 79, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 60%;
    width: 100%;
    overflow: auto;
    background-color: #555;
}

section#input_zone {
    height: 7%;
    width: 100%;
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#username {
    display: inline-block;
    width: 25%;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input#message {
    display: inline-block;
    width: 90%;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

button#send_message, #send_username, #addBtn {
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #E08257;
    border: none;
}

button#send_message:hover, #send_username:hover, #addBtn:hover {
    background-color: #C9754F;
}
p.message {
    margin: 0px;
    width: 100%;
    height: 40px;
    font-size: 2vh;
    font-family: 'Comfortaa', sans-serif;
    padding: 12px;
}

.message:nth-child(even) {
    background-color: #E08257;
    color: #333;
}

.message:nth-child(odd) {
    background-color: #C9754F;
    color: #333;
}
